[flake8]
per-file-ignores = tests/*:S101,*__init__.py:F401 D104,*helpers.py:S311
application-import-names = redactdump,tests
import-order-style = google
select = B,B9,BLK,C,E,F,I,S,W, D, A
ignore = E203,E501,W503,ANN101,D100,D107,D401,S404,S607,S603,S605,S101,S602
max-line-length = 120
